@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this CSS to your stylesheet */
.brush-line {
  position: relative;
  width: 2px; /* Initial thickness */
  height: 200px; /* Adjust based on your needs */
  background: transparent;
}

.brush-line::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 10px; /* Max thickness */
  background: linear-gradient(to bottom, transparent 20%, black 30%, black 70%, transparent 80%);
}